* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
html, body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

input { -webkit-user-select:text;}
.mobile-left-button{
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid rgb(244, 248, 244);
    opacity: 0.3;

    position: absolute;
	top: 50%;
    left: 5%;
    
}
.mobile-right-button{
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid rgb(244, 248, 244);
    opacity: 0.3;

    position: absolute;
	top: 50%;
    right: 5%;
    
}
.button_container{
    display: flex;
    

    position: absolute;
    transform: translate(-50%, -50%);
	bottom: 0%;
    left: 5%;
}
.mobile-q-button{
    width: 35px; 
    height: 35px; 
    background:rgb(244, 248, 244);
    opacity: 0.3;
    margin-right: 15px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

   
    
}
.mobile-w-button{
    width: 35px; 
    height: 35px; 
    background:rgb(244, 248, 244);
    opacity: 0.3;
    margin-right: 15px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.mobile-e-button{
    width: 35px; 
    height: 35px; 
    background:rgb(244, 248, 244);
    opacity: 0.3;
    margin-right: 15px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

  
    
}
.button-img {max-width:100%;}

.ping{
    width: 100px;
    height: 50px;
	/* background:linear-gradient(to top left, rgba(41, 6, 238), rgb(151, 200, 238)); */
	color: white;
	font-size: 17px;
    position: absolute;
    opacity: 0.8;
	top: 5px;
	left: 2px;
}
.leader-board-wrapper{
    
    width: 270px;
    height: 280px;
	background:linear-gradient(to top left, rgba(41, 6, 238,.1), rgb(151, 200, 238,.1));
	color: white;
	font-size: 12.5px;
    position: absolute;
    opacity: 0.5;
	top: 60px;
	right: 5px;
	border-radius: 5px;
}
.score-wrapper{
    margin: 12px;
}
.name-wrapper{
    margin: 12px;
    flex:3;
}
#leader-board{
    display: flex;
}
h3{
    display: inline
}
.text-center{
    margin: -5px auto;
    text-align: center;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background:linear-gradient(to top left, rgba(41, 6, 238,1), rgb(151, 200, 238,1));
    padding: 8rem;
}
.title{
    width: 350px;
    height: 300px;
    
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.rock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 550px;
    height: 350px;
    z-index: -2;
    
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
}
.gg_board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -700%); 
    text-align: center; 
}
.gg_board h2{
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 14px 10px;
    width: 400px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.gg_board button{
    border: 0;
    background: linear-gradient(to top left, rgba(5, 95, 10), rgba(13, 216, 47));
    display: block;
    margin: -20px auto;
    text-align: center;
    border: 2px solid #229451;;
    padding: 10px 30px;
    outline: none;
    color: rgb(252, 252, 252);
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 15px;
    font-weight: bold;
}
.gg_board button:hover{
    background:  #2ecc71;
}

@-webkit-keyframes bounceOut {
    from {
        -webkit-transform: translate(-50%, -50%); 
    }
    to {
        -webkit-transform: translate(-50%, -700%); 
    }
 }
 
@keyframes bounceOut {
    from {
        transform: translate(-50%, -50%); 
    }
    to {
        transform: translate(-50%, -700%); 
    }
 }
 @-webkit-keyframes fadeIn {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
 }
 @keyframes fadeIn {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}
@-webkit-keyframes fadeOut {
    from {
        -webkit-transform: translate(-50%, -2000%); 
    }
    to {
        -webkit-transform: translate(-50%, 50%); 
    }
 }
 @keyframes fadeOut {
    from {
        transform: translate(-50%, -2000%); 
    }
    to {
        transform: translate(-50%, -50%); 
    }
}
@-webkit-keyframes fadeOut2 {
    from {
        -webkit-transform: translate(-50%, -700%); 
    }
    to {
        -webkit-transform: translate(-50%, 50%); 
    }
 }
 @keyframes fadeOut2 {
    from {
        transform: translate(-50%, -700%); 
    }
    to {
        transform: translate(-50%, -50%); 
    }
}

 .bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 3s;
 }
 
 .fadeIn{
    -webkit-animation: fadeIn 20s forwards;;
    animation: fadeIn 20s forwards;
 }
 .fadeOut{
    -webkit-animation: fadeOut 7s forwards;;
    animation: fadeOut 7s forwards;
 }
 .fadeOut2{
    -webkit-animation: fadeOut2 3s forwards;;
    animation: fadeOut2 3s forwards;
 }
.box h1{
    color: rgb(5, 85, 25);
    font-weight: 500;
}
.box input[type="text"]{
    border: 0;
    background: rgba(148, 150, 155, 0.8);
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid  rgba(148, 150, 155, 0.8);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(253, 253, 253);
    border-radius: 25px;
    transition: 0.25s;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.box input[type="text"]:focus{
    width: 220px;
    border-color: #2ecc71;
}
.box button{
    border: 0;
    background: linear-gradient(to top left, rgba(5, 95, 10), rgba(13, 216, 47));
    display: block;
    margin: -20px auto;
    text-align: center;
    border: 2px solid #229451;;
    padding: 10px 30px;
    outline: none;
    color: rgb(252, 252, 252);
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 15px;
    font-weight: bold;
}
.box button:hover{
    background:  #2ecc71;
}
.hidden {
    display: none;
}
.leaderboard-player1, .leaderboard-player3, .leaderboard-player5, .leaderboard-player7, .leaderboard-player9{
    margin: 0px auto;
    color: rgb(252, 253, 253);
}
.leaderboard-player2, .leaderboard-player4, .leaderboard-player6, .leaderboard-player8, .leaderboard-player10{
    margin: 0px auto;
    color: #bdb9b6;
}
.score1, .score3, .score5, .score7, .score9{
    margin: 0px auto;
    color: rgb(252, 253, 253); 
}
.score2, .score4, .score6, .score8, .score10{
    margin: 0px auto;
    color: #bdb9b6;
}